body {
	 background-image: url("http://127.0.0.1:9999/static/background.png");
	 background-repeat: no-repeat;
}

table {
	width: 100%;
	font-size:18px;
	font-family: "Tahoma";
}

th {
	padding-top: 15px;
	padding-left: 0px;
	text-align: left;
	font-size: 24px;
}
